@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


html{
    --backgroud: linear-gradient(to right, #2d1c36,#120d19);
    --icons-details: #cecbdf;
    --yellow: #ffe693;
    --grey: #f3f3f4;
    --grey-dark:#2f3031;

    /*1 rem = 16px (User Agent) = 100% (User Agent)*/
    font-size: 62.5%; /* = 10px */
}

body{
    display:flex;
    background: var(--backgroud);
    color: var(--grey);
    font-family: 'Urbanist', sans-serif;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.menu{
    width: 20rem;
    height: 100vh;
    position: fixed;
    transition: all .2 linear;
    left: -28rem;
    background: var(--backgroud);
}

#check{
    display: none;
    z-index: 1;
}

#check:checked ~ .menu{
    transform: translateX(28rem);
    animation: fadein 2s;
}

nav{
    position: absolute;
    margin-top: 7rem;
}

a{
    font-size: 2rem;
    color: var(--grey);
    padding: 5%;
    display: block;
    margin-left: 1.5rem;
    transition: all .2 linear;
}

a:hover{
    color: var(--yellow);
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    font-style: italic;
    font-weight: 100;
    margin-top: 1rem;
    z-index: 1;
    animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
    }

h2{
    font-weight: 400;
    font-size: 2rem;
    margin-top:3rem;
    color: var(--yellow);
    animation: fadein 6s;
    z-index: 2;
}

img{
    width: 30rem;
    border-radius: 2rem;
    display: flex;
    animation: fadein 8s;
}

h3{
    font-weight: 400;
    color: var(--yellow);
    font-size: 1.8rem;
    animation: fadein 8s;
}

p{
    color: var(--grey);
    font-size: 1.8rem;
    animation: fadein 8s;
}

li{
    color: var(--grey);
    font-size: 1.5rem;
    animation: fadein 8s;
}
#icon img{
    margin: 3rem 0 0 2rem;
    width: 3rem;
    z-index: 1;
    cursor: pointer;
    position: fixed;
}

.show-data{
    width: 50%;
    margin: 0 auto;
}
